<p>show action</p>
<div>
  <p>Saldo: <%=@bank_account.balance%></p>
  <% @bank_account.transactions.each do |transaction| %>
    <p> R$<%=transaction.amount.round(2) %> - <%=transaction.transaction_type %> </p>
  <% end %>
  <%= link_to 'Realizar transação', new_transaction_path %>
  <button>Exportar extrato</button>
</div>
