// Place all the styles related to the BankAccount controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bank-account{
  h1{
    font-size: 42px;
    color: #47DCAF;
  }

  .button-new-transaction{
    background-color: #47DCAF;
    color: #EFEFEF;
    font-weight: bold;

    &:hover{
      color: #EFEFEF;
      opacity: .75;
    }
  }
}